doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./sass/global/normalize.css")
    link(rel="stylesheet" href="./css/style.css")
    title Записаться
  body
    header.page-header
      a.page-header__logo.page-header__logo
        picture
          source(media="(min-width: 1200px)" srcset="img/logotype-desktop.svg")
          source(media="(min-width: 768px)" srcset="img/logotype-tablet.svg")
          img.page-header__logo-image(src="img/logotype-mobile.svg" width="226" height="30" alt="Логотип барбершопа Бородинский")
      nav.main-nav.main-nav--closed.main-nav--no-js
        button.main-nav__toggle(type="button")
          span.visually-hidden Открыть меню
        .main-nav__wrapper
          ul.main-nav__list.main-nav__list--site.site-list
            li.site-list__item
              a.site-list__link(href="index.html") Главная
            li.site-list__item
              a.site-list__link  Наши работы
            li.site-list__item.site-list__item--current-page
              a.site-list__link(href="form.html") Записаться
            li.site-list__item
              a.site-list__link(href="#") Контакты
            li.site-list__item
              a.site-list__link(href="#") HTML Academy
          ul.main-nav__list.main-nav__list--user.user-list
            li.user-list__item
              a.user-list__login(href="login.html")
                svg#Layer_1.user-list__icon(version="1.1" width="16" height="16" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 16 16" xml:space="preserve")
                  style.
                    .user-list__icon-style {
                    fill: #826550;
                    }
                  path.user-list__icon-style(d="M0 7h7V4l4 4-4 4V9H0z")
                  path.user-list__icon-style(d="M7 0v2h7v12H7v2h9V0z")
                span.user-list__text  Войти
    main.inner-page
      span.decorative-triangle.inner-page__decorative-triangle--concave(role="presentation")
      .inner-page__wrapper
        .inner-page__title_and_button-container
          h1.inner-page__title Запись на стрижку
          a.inner-page__link-to-index.button(href="index.html") На главную
        section
    footer.page-footer
      .page-footer__wrapper
        .page-footer__contacts.contacts
          b.contacts__title Барбершоп Бородинский
          p.contacts__text
            | г. Санкт-Петербург, ул. Большая Конюшенная 19/8
          a.contacts__phone.button(href="tel:+78125556666")
            span.contacts__phone-legend Тел.:
            |             +7 (812) 555-66-66
        .page-footer__social.social
          b.social__title Давайте дружить!
          ul.social__list
            li.social__item
              a.social__link.social__link--vkontakte(href="#")
                span.visually-hidden Вконтакте
            li.social__item
              a.social__link.social__link--facebook(href="#")
                span.visually-hidden Фейсбук
            li.social__item
              a.social__link.social__link--instagram(href="#")
                span.visually-hidden Инстаграм
        .page-footer__copyright.copyright
          span.copyright__text Разработано:
          a.copyright__link.button(href="#") HTML Academy
    script(src="./js/form.js")
