.advantages {
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

.slider {
}

.slider__list {
}

.slider__item {
}

.slider__toggles {
}

.slider__toggle {
}

.advantages__list {
  @include reset-list;

  text-align: center;
}

.advantages__item {
  position: relative;
}

.advantages__item {
}

.advantages__item--fast::before {
  position: absolute;
  top: 46px;
  left: 113px;
  width: 94px;
  height: 94px;

  content: '';

  background-color: transparent;
  background-image: url('/source/img/advantage-1-illustration.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--cool::before {
  position: absolute;
  top: 46px;
  left: 113px;
  width: 94px;
  height: 94px;

  content: '';
  background-color: transparent;
  background-image: url('/source/img/advantage-2-illustration.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--price::before {
  position: absolute;
  top: 46px;
  left: 113px;
  width: 94px;
  height: 94px;

  content: '';
  background-color: transparent;
  background-image: url('/source/img/advantage-3-illustration.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__title {
  padding: 0;
  padding-top: 175px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.advantages__description {
  padding: 0 40px;
  margin: 0;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 20px;
}

.advantages__toggles {
}
