@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.advantages {
  background-color: #242424;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

.advantages__list {
  @include mixins.reset-list;

  text-align: center;
}

.advantages__item {
  position: relative;
}

// icons for the advantages__item
.advantages__item::before {
  position: absolute;
  top: 42px;
  left: 113px;
  width: 94px;
  height: 94px;

  content: '';

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--fast::before {
  background-image: url('../img/background_svg/advantage-1-illustration.svg');
}

.advantages__item--cool::before {
  background-image: url('../img/background_svg/advantage-2-illustration.svg');
}

.advantages__item--price::before {
  background-image: url('../img/background_svg/advantage-3-illustration.svg');
}

.advantages__title {
  padding: 0;
  padding-top: 169px;
  margin: 0;
  margin-bottom: 12px;

  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.advantages__description {
  padding: 0 40px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 20px;
}

.advantages__toggles {
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: vars.$tablet-width) {
  .advantages {
    background-color: vars.$bg-lightgrey;
  }

  .advantages__wrapper {
    width: 80%;
  }

  .advantages__item {
    padding-left: 24%;
    margin-bottom: 30px;

    text-align: left;
  }

  // icons for advantages items
  .advantages__item::before {
    top: 53px;
    left: 18px;
  }

  // line between advantages items
  .advantages__item::after {
    position: absolute;
    bottom: -38px;
    left: 26px;

    width: 91%;
    height: 1px;

    content: '';

    background-color: #4a4a4a;
  }

  // hide last line between advantages items
  .advantages__item:last-child::after {
    display: none;
  }

  .advantages__title {
    padding-top: 47px;
  }

  .advantages__description {
    padding: 0;
    padding-top: 3px;
    padding-right: 5%;
    margin: 0;
  }

  .advantages__toggles {
    display: none;
  }
}

@media (min-width: vars.$desktop-width) {
  .advantages__wrapper {
    width: 960px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 43px;
  }

  // icons for advantages items
  .advantages__item {
    box-sizing: border-box;
    width: 320px;
    min-height: 300px;

    padding: 0;
    padding-top: 155px;
    margin: 0;
  }

  .advantages__item::before {
    top: 80px;
    left: 113px;
  }

  // line between advantages items
  .advantages__item::after {
    position: absolute;
    bottom: 0;
    left: 320px;

    width: 1px;
    height: 268px;

    content: '';

    background-color: #4a4a4a;
  }

  .advantages__title {
    text-align: center;
  }

  .advantages__description {
    display: block;
    padding: 0 40px;
    text-align: center;
  }
}
