@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.appointment {
}

.appointment__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 510px;

  padding-bottom: 39px;
  margin: 0 auto;
}

.appointment__form {
  position: relative;
}

.appointment__fieldset {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;

  border: none;
}

.appointment__text-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 50px;

  padding: 0 18px;
  margin: 0;
  margin-bottom: 6px;

  border: 1px solid #e5ddd5;

  &::placeholder {
    color: #000;
    opacity: 1;
  }

  &:focus,
  &:hover {
    border: 1px solid #d5c9bd;
  }

  &:active {
    border: 1px solid #999;
  }
}

.appointment__fieldset-name {
  margin-bottom: 26px;
}

.appointment__fieldset-contacts {
  margin-bottom: 26px;
}

.appointment__fieldset-additional-info {
  margin-bottom: 37px;
}

.appointment__textarea {
  min-height: 112px;

  padding-top: 13px;
  margin-bottom: 0;

  resize: none;
}

.appointment__additional-info-textarea {
  resize: none;
}

.appointment__beard-select {
}

.appointment__beard-title {
  margin-bottom: 6px;

  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__beard-list {
  @include mixins.reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 38px;
}

.appointment__beard-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: 93px;

  margin-top: 89px;
  margin-right: 0;

  text-align: center;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.appointment__beard-label {
  position: relative;
}

// custom radio button
.appointment__beard-input + .appointment__beard-label::before {
  position: absolute;
  top: -59px;
  left: 22px;

  width: 50px;
  height: 50px;

  content: '';

  background-color: #fff;
  border: 1px solid #e8e1da;
  border-radius: 50%;
}

// custom radio button hover, focus
.appointment__beard-input:hover + .appointment__beard-label::before,
.appointment__beard-input:focus + .appointment__beard-label::before {
  border-color: #d8cdc2;
}

// custom radio button active
.appointment__beard-input:active + .appointment__beard-label::before {
  background-color: #d5c9bd;
}

// custom radio button checked symbol
.appointment__beard-input:checked + .appointment__beard-label::after {
  position: absolute;
  top: -42px;
  left: 39px;

  width: 16px;
  height: 16px;

  content: '';

  background-color: #fff;
  border: 1px solid #e8e1da;
  border-radius: 50%;
}

.appointment__icon-beard {
  display: block;
  padding-top: 15px;
  margin: 0 auto;

  fill: #826550;
}

.appointment__additional-services {
  margin-bottom: 20px;
}

.appointment__additional-services-title {
  margin-bottom: 37px;

  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__additional-services-list {
  @include mixins.reset-list;

  box-sizing: border-box;
  width: 280px;

  margin: 0 auto;
}

.appointment__additional-services-item {
  box-sizing: border-box;
  max-width: 220px;

  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.appointment__checkbox-label {
  position: relative;
}

.appointment__checkbox-input {
}

// custom checkbox
.appointment__checkbox-input + .appointment__checkbox-label::before {
  position: absolute;
  top: -7px;
  left: -60px;

  box-sizing: border-box;
  width: 36px;
  height: 36px;

  content: '';

  background-color: #fff;
  border: 1px solid #e5ddd5;
}

// custom checkbox hover, focus
.appointment__checkbox-input:hover + .appointment__checkbox-label::before,
.appointment__checkbox-input:focus + .appointment__checkbox-label::before {
  border-color: #d5c9bd;
}

// custom checkbox active
.appointment__checkbox-input:active + .appointment__checkbox-label::before {
  background-color: #d5c9bd;
}

// custom checkbox checked symbol
.appointment__checkbox-input:checked + .appointment__checkbox-label::after {
  position: absolute;
  top: 5px;
  left: -53px;

  width: 22px;
  height: 17px;

  content: '';

  background-image: url('/img/background_svg/checked_arrow.svg');
  background-repeat: no-repeat;
  background-size: 21.7px 16.1px;
}

.appointment__submit-button {
  width: 80%;
  min-width: 280px;
  max-width: 500px;

  margin: 0 auto;

  color: #fff;
  background-color: #826550;

  &:hover,
  &:focus {
    background-color: #6a4d38;
  }

  &:active {
    color: #978374;
    background-color: #6a4d38;
  }

  &:disabled {
    background-color: #aeaeae;
  }
}

.appointment__decorative-triangle {
  bottom: -73px;

  border-top: 34px solid #f8f5f2;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}
