@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.button {
  box-sizing: border-box;
  display: block;
  min-width: 160px;
  padding: 12px 20px;
  margin: 0 20px;

  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5ddd5;

  &:focus,
  &:hover {
    border-color: #d5c9bd;
  }
  &:active {
    color: #958c84;
    background-color: #d5c9bd;
  }
}
