.contacts {
}

.contacts__title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  text-align: center;
}

.contacts__text {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 18px;

  text-align: center;
}

.contacts__phone {
  color: #fff;
  border-color: #3e3e3e;
}

.contacts__phone-mobile {
}
