.contacts {
}

.contacts__title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  text-align: center;
}

.contacts__text {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 18px;

  text-align: center;
}

.contacts__phone {
  color: #fff;
  border-color: #3e3e3e;

  &:hover,
  &:focus {
    border-color: #515151;
  }
  &:active {
    color: #515151;
    background-color: #252525;
    border-color: #252525;
  }
}

// hide "Тел." in mobile version
.contacts__phone-legend {
  display: none;
}

@media (min-width: $tablet-width) {
  // show "Тел."
  .contacts__phone-legend {
    display: block;
  }
}

@media (min-width: $desktop-width) {
}
