@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.gallery {
}

.gallery__wrapper {
  box-sizing: border-box;
  width: 320px;

  padding: 0 20px;
  padding-bottom: 9px;
  margin: 0 auto;
}

.gallery__list {
  @include mixins.reset-list;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gallery__item {
  margin-bottom: 20px;
}

.gallery__item--work-of-the-month {
  position: relative;

  // adds "Работа месяца" thingy to the item
  &::before {
    position: absolute;
    top: 401px;

    display: block;
    width: 130px;
    min-height: 27px;

    padding: 11px 0;
    padding-right: 20px;
    padding-left: 25px;

    font-size: 20px;
    font-weight: bold;
    line-height: 27px;

    color: #fff;

    content: 'РАБОТА МЕСЯЦА';

    background-color: #826550;
  }

  //decorative "triangle" for "Работа месяца" thingy
  &::after {
    position: absolute;
    top: 401px;
    left: 174px;

    content: '';

    border-top: 24px solid #826550;
    border-right: 8px solid transparent;
    border-bottom: 25px solid #826550;
  }

  // work-of-the-month has top & bottom paddings different from other gallery items
  .gallery__client-name {
    padding-top: 19px;
  }

  .gallery__text-content-container {
    padding-bottom: 16px;
  }
}

.gallery__blockquote {
  margin: 0;
}

.gallery__text-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  margin: 0;

  border: 1px solid #e5ddd5;
  border-top: 0;
}

.gallery__image {
  display: block;
  width: 280px;
}

.gallery__client-name {
  display: block;
  padding: 0 20px;
  padding-top: 25px;
  margin-bottom: 13px;

  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

.gallery__client-text {
  padding: 0 21px;
  margin: 0;
}

.gallery__services-list {
  @include mixins.reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 9px;
}

.gallery__services-item {
  box-sizing: border-box;
  width: 130px;
  margin-top: 16px;

  font-size: 16px;
  text-transform: uppercase;

  // icons
  &--haircut {
    padding-left: 47px;

    background-image: url('../img/background_svg/icon-scissors.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 50%;
    background-size: 23px 23px;
  }

  &--beard {
    padding-left: 50px;
    background-image: url('../img/background_svg/icon-beard.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: 22px 25px;
  }

  &--mustache {
    padding-left: 58px;

    background-image: url('../img/background_svg/icon-mustache.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 45px 13px;
  }
}

.gallery__services-text {
}

@media (min-width: vars.$tablet-width) {
  .gallery__wrapper {
    width: 768px;
    padding: 0 65px;
  }

  .gallery__item {
    display: flex;
    margin-bottom: 41px;
  }

  .gallery__item--work-of-the-month {
    &::after {
      top: 35px;
      left: 171px;
    }

    &::before {
      top: 35px;
      left: -3px;
    }

    .gallery__text-content-container {
      padding-top: 25px;
    }

    .gallery__services-list {
      padding-bottom: 15px;
    }
  }

  .gallery__image {
    width: 270px;
    min-width: 270px;
  }

  .gallery__text-content-container {
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 29px;

    border: 1px solid #e5ddd5;
    border-left: 0;
  }

  .gallery__client-name {
    margin-bottom: 25px;
  }

  .gallery__client-text {
    min-height: 54px;
    padding-right: 60px;
  }

  .gallery__services-list {
    padding-right: 68px;
    padding-bottom: 35px;
  }
}

@media (min-width: vars.$desktop-width) {
  .gallery__wrapper {
    width: 960px;
    padding: 0;
  }
  .gallery__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .gallery__item {
    flex-direction: column;
    width: 294px;
  }

  .gallery__image {
    width: 294px;
  }

  .gallery__text-content-container {
    min-height: 247px;

    padding-top: 5px;
    padding-left: 14px;

    border: 1px solid #e5ddd5;
    border-top: 0;
  }

  .gallery__client-text {
    padding-right: 30px;
    margin-bottom: 10px;
  }

  .gallery__services-list {
    justify-content: flex-start;

    padding-right: 0;
    padding-bottom: 30px;
  }

  .gallery__item--work-of-the-month {
    flex-direction: row;
    width: 961px;

    &::after {
      top: 27px;
      left: 785px;

      border-top: 24px solid #826550;
      border-right: 0;
      border-bottom: 25px solid #826550;
      border-left: 8px solid transparent;
    }

    &::before {
      top: 27px;
      left: 792px;
    }

    .gallery__image {
      width: 480px;
      min-width: 480px;
    }

    .gallery__text-content-container {
      padding-top: 109px;
      padding-left: 20px;

      border-top: 1px solid #e5ddd5;
      border-left: 0;
    }

    .gallery__client-text {
      padding-right: 130px;
    }

    .gallery__services-list {
      padding-right: 0;
      padding-bottom: 10px;
    }
  }
}
