.inner-page {
  color: #000;

  background-color: #f8f5f2;
}

.inner-page__wrapper {
}

.inner-page__decorative-triangle--convex-light {
  border-top: 40px solid #f8f5f2;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

.inner-page__decorative-triangle--convex-dark {
  border-top: 40px solid $bg-lightgrey;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

.inner-page__title {
  padding-top: 28px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.inner-page__link-to-index {
  display: none;
}

.inner-page__gallery {
}

.inner-page__price {
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .inner-page {
    position: relative;
  }

  .inner-page__decorative-triangle--concave {
    top: -40px;

    border: 0;
    border-top: 40px solid transparent;
    border-right: 384px solid #f8f5f2;
    border-left: 384px solid #f8f5f2;
  }

  .inner-page__wrapper {
    position: relative;
  }

  .inner-page__title_and_button-container {
    display: flex;
    justify-content: space-between;

    padding-top: 54px;
    margin-bottom: 38px;
  }

  .inner-page__title {
    padding: 0;
    margin: 0;

    font-size: 40px;
    line-height: 44px;
  }

  .inner-page__link-to-index {
    display: block;
    width: 160px;

    margin-right: 0;
  }

  .inner-page__gallery {
  }

  .inner-page__price {
  }
}

@media (min-width: $desktop-width) {
  .inner-page__decorative-triangle--concave {
    top: -65px;
    border-top: 65px solid transparent;
  }

  .inner-page__wrapper {
    box-sizing: border-box;
  }

  .inner-page__title_and_button-container {
    padding-top: 26px;
    margin-bottom: 78px;
  }

  .inner-page__link-to-index {
    margin-top: 29px;
  }

  .inner-page__title {
    padding-top: 28px;
    margin: 0;
  }

  .inner-page__gallery {
  }

  .inner-page__price {
  }
}
