.news {
  color: #000;
  background-color: #f8f5f2;
}

.news__wrapper {
  width: 320px;
  margin: 0 auto;
}

.news__title {
  position: relative;
  padding: 0 40px;
  padding-top: 66px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

// dark triangle above the title, for decoration
.news__title::after {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-top: 34px solid #242424;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

.news__list {
  @include reset-list;
}

.news__item {
  position: relative;
  display: flex;
  min-height: 100px;

  padding: 0 19px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 17px;
}

// grey line under each news article
.news__item--with-underline::after {
  position: absolute;
  bottom: -13px;
  left: 20px;

  width: 280px;
  height: 1px;

  content: '';

  background-color: #c6c4c1;
}

.news__date {
}

// black box with date and month
.news__date-box {
  position: relative;
  box-sizing: border-box;
  align-self: flex-start;
  min-width: 50px;
  min-height: 50px;

  margin-top: 11px;
  margin-right: 21px;

  color: #fff;
  background-color: #000;
}

// triangle at the bottom of the date-box
.news__date-box::after {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;

  content: '';

  border-top: 10px solid #000;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

.news__day {
  display: block;
  padding-top: 5px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.news__month {
  display: block;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: lighter;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.news__text {
  display: block;
  padding: 0;
  margin: 0;
}

.news__button-to-all {
  position: relative;
}

// grey line under each news article
.news__button-to-all::after {
  position: absolute;
  bottom: -30px;
  left: -20px;

  width: 320px;
  height: 1px;

  content: '';

  background-color: #c6c4c1;
}
