.news {
  position: relative;
  color: #000;
  background-color: #f8f5f2;
}

.news__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

// grey line under news block
.news__wrapper::after {
  position: absolute;
  bottom: -30px;
  left: 0;

  width: 320px;
  height: 1px;

  content: '';

  background-color: #c6c4c1;
}

.news__title {
  position: relative;
  padding: 0 40px;
  padding-top: 66px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

// dark triangle above the title, for decoration
.news__title::before {
  position: absolute;
  top: -1px;
  left: 0;

  content: '';

  border-top: 34px solid #242424;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

.news__list {
  @include reset-list;
}

.news__item {
  position: relative;
  display: flex;
  min-height: 100px;

  padding: 0 19px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 17px;

  // change style of the news__text, news__date-box & news__date-box::after if the news__item is hovered/focused/active. It's kinda against BEM, but this way we can make this state change happen without any JS
  &:hover .news__text,
  &:focus .news__text {
    color: #826550;
    text-decoration: underline;
  }
  &:active .news__text {
    color: #725743;
  }

  // black box with date and month
  &:hover .news__date-box,
  &:focus .news__date-box {
    background-color: #826550;
  }
  &:active .news__date-box {
    color: #978374;
    background-color: #6a4d38;
  }

  // triangle at the bottom of the date-box
  &:hover .news__date-box::after,
  &:focus .news__date-box::after {
    border-top-color: #826550;
  }
  &:active .news__date-box::after {
    border-top-color: #6a4d38;
  }
}

// grey line under each news article
.news__item--with-underline::after {
  position: absolute;
  bottom: -13px;
  left: 20px;

  width: 280px;
  height: 1px;

  content: '';

  background-color: #c6c4c1;
}

.news__date {
}

// black box with date and month
.news__date-box {
  position: relative;
  box-sizing: border-box;
  align-self: flex-start;
  min-width: 50px;
  min-height: 50px;

  margin-top: 11px;
  margin-right: 21px;

  color: #fff;
  background-color: #000;
}

// triangle at the bottom of the date-box
.news__date-box::after {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;

  content: '';

  border-top: 10px solid #000;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

.news__day {
  display: block;
  padding-top: 5px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.news__month {
  display: block;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: lighter;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.news__text {
  display: block;
  padding: 0;
  margin: 0;
}

.news__button-to-all {
  position: relative;
}

@media (min-width: $tablet-width) {
  .news__wrapper {
    position: relative;
    width: 100%;
  }

  // remove grey line under news block from news__wrapper cause news__wrapper isn't centered in tablet version (and we need this line centered)
  .news__wrapper::after {
    content: none;
  }

  .news__title {
    padding-top: 73px;
    padding-left: 65px;

    font-size: 40px;
    line-height: 42px;
    text-align: left;
  }

  // remove dark triangle above the title, because title isn't centered in tablet version (and we need this triangle centered)
  .news__title::before {
    display: none;
  }

  .news__button-to-all {
    position: absolute;
    top: 71px;
    right: 45px;

    padding-right: 30px;
    padding-left: 30px;
  }

  .news__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 20px 64px;
    padding-bottom: 0;
  }

  // dark triangle above the title, for decoration
  .news__list::before {
    position: absolute;
    top: -115px;

    content: '';

    border-top: 30px solid $bg-lightgrey;
    border-right: 384px solid transparent;
    border-left: 384px solid transparent;
  }

  // dark triangle above the title, for decoration
  .news__list::before {
    position: absolute;
    top: -115px;

    content: '';

    border-top: 30px solid $bg-lightgrey;
    border-right: 384px solid transparent;
    border-left: 384px solid transparent;
  }

  // grey line under news block
  .news__list::after {
    position: absolute;
    bottom: -18px;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #dddad6;
  }

  .news__item {
    box-sizing: border-box;
    width: 290px;
    padding: 0;
    padding-top: 2px;
    margin-right: 30px;

    // remove margin-right for the last <li>
    &:last-child {
      margin-right: 0;
    }
  }

  // remove grey line under news items
  .news__item--with-underline::after {
    content: none;
  }
}
