.page-footer {
  background-color: $bg-darkgrey;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__contacts {
  width: 320px;
  padding-top: 66px;
  margin: 0 auto;

  margin-bottom: 27px;
}

.page-footer__social {
  margin-bottom: 27px;
}

.page-footer__copyright {
  padding-bottom: 100px;
}
