@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-footer {
  background-color: vars.$bg-darkgrey;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__contacts {
  width: 320px;
  padding-top: 66px;
  margin: 0 auto;
  margin-bottom: 27px;

  text-align: center;
}

.page-footer__social {
  margin-bottom: 27px;
}

.page-footer__copyright {
  padding-bottom: 200px;
}

@media (min-width: vars.$tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 768px;
    padding-top: 48px;
    margin: 0 auto;
  }

  .page-footer__contacts {
    width: 410px;
    padding-top: 0;
    padding-left: 64px;
    margin: 0;

    text-align: left;
  }

  .page-footer__social {
    order: 2;

    padding: 0 64px;
    padding-bottom: 200px;
  }

  .page-footer__copyright {
    order: 1;

    padding-right: 44px;
    padding-bottom: 50px;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-footer__wrapper {
    width: 1000px;
    padding-bottom: 100px;
  }

  .page-footer__contacts {
    width: 360px;
    padding-top: 0;
    padding-left: 20px;
  }

  .page-footer__social {
    order: 0;
    width: 170px;

    padding: 0;
    margin-right: 180px;
  }

  .page-footer__copyright {
    order: 0;
    padding-right: 0;
  }
}
