@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-header {
  display: flex;
  flex-direction: column;

  background-color: vars.$bg-verydarkgrey;
}

.page-header__logo {
  box-sizing: border-box;
  height: 85px;
  padding-top: 29px;
  padding-bottom: 26px;
  margin: auto;

  cursor: default;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: vars.$tablet-width) {
  .page-header {
    background-color: #000;
  }

  .page-header__logo {
    order: 2;
    box-sizing: border-box;

    width: 100%;
    height: 213px;

    background-color: #000;
    background-image: url('../img/background_img/header_background_tablet.jpg');
    background-repeat: no-repeat;
    background-position: center -9px;

    @media (min-resolution: vars.$retina-dpi),
      (min-resolution: vars.$retina-dppx) {
      background-image: url('../img/background_img/header_background_tablet_2x.jpg');
      background-size: 1338px auto;
    }

    // different background image height for index.html
    &--main-page {
      height: 400px;
    }
  }

  .page-header__logo-image {
    width: 370px;
    height: auto;
    margin-top: 12px;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-header__logo {
    height: 305px;

    background-image: url('../img/background_img/header_background_desktop.jpg');
    background-position: center 0;

    // background-size: cover; - to make background image stretch through the whole width of the screen
    background-size: cover;

    // different background image height for index.html
    &--main-page {
      height: 648px;
    }

    @media (min-resolution: vars.$retina-dpi),
      (min-resolution: vars.$retina-dppx) {
      background-image: url('../img/background_img/header_background_desktop_2x.jpg');
    }
  }

  .page-header__logo-image {
    padding: 0;
    margin-top: 23px;
  }
}
