.reviews {
  color: #000;
  background-color: $bg-light;
}

.reviews__wrapper {
  width: 320px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.reviews__title {
  padding: 0;
  padding-top: 57px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

// don't show this button in mobile version
.reviews__write {
  display: none;
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
  min-height: 175px;
  padding: 0;
  padding-bottom: 5px;
}

.reviews__container {
  display: flex;
  justify-content: space-between;

  padding: 0;
  padding-top: 7px;
  margin: 0;
}

.reviews__author-picture {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-left: 20px;
}

//  "object-fit" property sets how the content of a replaced element, such as an <img> or <video>, should be resized to fit its container. We use it here to crop and center the image to the desired size.
.reviews__author-image {
  display: block;
  min-width: 49px;
  min-height: 47px;
  object-fit: cover;

  // to make Alt look good
  font-size: 10px;
  line-height: 12px;

  border: 1px solid #eae4dd;
}

.reviews__text-wrapper {
  padding-right: 36px;
}

.reviews__autrhor-name {
  display: block;
  margin-bottom: 10px;

  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

.reviews__text {
  width: 195px;
  margin: 0;

  font-size: 18px;
}

// hide "previous/next review" buttons in mobile version
.reviews__prev-button,
.reviews__next-button {
  display: none;
}

.reviews__toggles {
  position: relative;
}

// light triangle above the title, for decoration
.reviews__toggles::after {
  position: absolute;
  top: 27px;
  left: 0;

  content: '';

  border-top: 34px solid $bg-light;
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}

@media (min-width: $tablet-width) {
  // show "write a review button"
  .reviews__write {
    display: block;
  }

  // show"previous/next review" buttons in mobile version
  .reviews__prev-button,
  .reviews__next-button {
    display: block;
  }
}

@media (min-width: $desktop-width) {
}
