.reviews {
  color: #000;
  background-color: #f8f5f2;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
}

.reviews__title {
  padding: 0;
  padding-top: 55px;
  margin: 0;
  margin-bottom: 40px;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
}

.reviews__container {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.reviews__author-picture {
  display: block;
  min-width: 50px;
  min-height: 51px;

  padding: 0;
  margin: 0;
}

.reviews__text-wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__autrhor-name {
  margin-bottom: 15px;

  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

.reviews__text {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 18px;
  width: 195px;
  margin: 0;
  margin-bottom: 30px;
}
