@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.site-list {
  @include mixins.reset-list;
  font-weight: bold;
}

.site-list__item {
  margin-bottom: 1px;

  line-height: 24px;
  text-transform: uppercase;

  background-color: #826550;

  // hmm... why do we create focus and hover states for mobile version? This version is for phones, we use our fingers to tap on the screen. Normal and active states are indeed needed, but hover and focus? Well, they are in the styleguide for the project...
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #755a46;
  }
  &:active {
    color: #978374;
    background-color: #6a4d38;
  }
}

// prevent site-list__item--current-page from changing state
.site-list__item--current-page {
  display: block;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    cursor: default;
    background-color: #826550;
  }
}

// remove left padding for site-list__item--current-page when the nav menu is closed in order to center it
.main-nav--closed .site-list__item--current-page {
  padding-left: 0;
}

.site-list__link {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;

  color: inherit;
}

@media (min-width: vars.$tablet-width) {
  .site-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-width: 600px;
    padding-left: 15px;
  }

  .site-list__item {
    padding: 24px 17px;
    margin: 0;

    background-color: #000;

    &:hover,
    &:focus {
      color: #826550;
      background-color: #000;
    }
    &:active {
      color: #4d4d4d;
    }
  }

  .main-nav--closed .site-list__item--current-page {
    padding-left: 17px;
  }

  .site-list__item--current-page {
    position: relative;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #000;
    }
  }

  // underline for current page
  .site-list__item--current-page .site-list__link::before {
    position: absolute;
    right: 17px;
    bottom: -2px;
    left: 18px;

    height: 3px;

    content: '';

    background-color: #826550;
  }
}

@media (min-width: vars.$desktop-width) {
  .site-list {
    width: 800px;
    padding-left: 1px;
  }

  .site-list__item {
    padding-right: 31px;
    padding-left: 31px;
    border-right: 2px solid #000;

    &:hover,
    &:focus {
      color: #000;
      cursor: pointer;
      background-color: #fff;
    }
    &:active {
      color: #b2b2b2;
    }
  }

  .main-nav--closed .site-list__item--current-page {
    padding-left: 31px;
  }

  .site-list__item--current-page {
    &:hover,
    &:focus {
      color: #fff;
      cursor: default;
      background-color: #000;
    }
    &:active {
      color: #fff;
    }
  }

  // underline for current page
  .site-list__item--current-page .site-list__link::before {
    right: 30px;
    left: 30px;
  }
}
