.social {
}

// hide "Давайте дружить!" in mobile version
.social__title {
  display: none;
}

.social__list {
  @include reset-list;

  display: flex;
  justify-content: space-around;
}

.social__item {
  border: 1px solid #3e3e3e;

  &:focus,
  &:hover {
    border-color: #545454;
  }
  &:active {
    color: #808080;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    opacity: 0.4;
  }
}

.social__link {
  display: block;
  width: 106px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--vkontakte {
  background-image: url('/source/img/vk-icon-big.png');
}

.social__link--facebook {
  background-image: url('/source/img/facebook-icon-big.png');
}

.social__link--instagram {
  background-image: url('/source/img/insta-icon-big.png');
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
  // show "Давайте дружить!"
  .social__title {
    display: block;
  }
}
