@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.social {
}

// hide "Давайте дружить!" in mobile version
.social__title {
  display: none;
}

.social__list {
  @include mixins.reset-list;

  display: flex;
  justify-content: space-between;
}

.social__item {
  box-sizing: border-box;
  outline: 1px solid #3e3e3e;

  &:focus,
  &:hover {
    outline-color: #545454;
  }
  &:active {
    color: #808080;
    background-color: #1f1f1f;
    outline-color: #1f1f1f;
    opacity: 0.4;
  }
}

.social__link {
  box-sizing: border-box;
  display: block;
  width: 106px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--vkontakte {
  background-image: url('../img/background_img/vk-icon-big.png');
}

.social__link--facebook {
  background-image: url('../img/background_img/facebook-icon-big.png');
}

.social__link--instagram {
  background-image: url('../img/background_img/insta-icon-big.png');
}

@media (min-width: vars.$tablet-width) {
  .social__link {
    width: 211px;
  }
}

@media (min-width: vars.$desktop-width) {
  // show "Давайте дружить!"
  .social__title {
    display: block;
    margin-bottom: 13px;
    font-weight: normal;
    text-align: center;
  }

  .social__link {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
  }

  .social__link--vkontakte {
    background-image: url('../img/background_img/vk-icon-small.png');
  }

  .social__link--facebook {
    background-image: url('../img/background_img/facebook-icon-small.png');
  }

  .social__link--instagram {
    background-image: url('../img/background_img/insta-icon-small.png');
  }
}
