@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.stats {
  width: 320px;
  margin: 0 auto;

  color: #000;
}

.stats__header {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 25px;

  text-align: center;

  background-color: #fff;
}

// this div is used only in tablet/desktop versions
.stats__slogan-and-legend-top {
}

.stats__slogan {
  box-sizing: border-box;
  width: 100%;
  padding: 0 68px;
  margin: 0;
  margin-bottom: 18px;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.stats__text {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0;

  font-size: 20px;
}

// table don't stretch to 100% of his parent by default, so we use width: 100%;
.stats__table {
  width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;

  color: #f7f4f1;
  border-collapse: collapse;
}

.stats__row--color-1 {
  background-color: #404040;
}

.stats__row--color-2 {
  background-color: #4e4e4e;
}

.stats__row--color-3 {
  background-color: #353535;
}

.stats__row--color-4 {
  background-color: #404040;
}

.stats__value {
  box-sizing: border-box;
  min-width: 160px;

  padding: 18px 0;
  padding-left: 6%;

  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
}

.stats__field {
  min-width: 120px;
  padding: 18px 0;
  padding-right: 6%;

  line-height: 18px;
  text-align: right;
}

.stats__asterisk {
  font-size: 60%;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 27px;
}

.stats__legend--top {
  display: none;
  padding: 0;
  margin: 0;

  color: #b2b2b2;
}

.stats__legend--bottom {
  display: block;
  padding-top: 14px;

  color: #666;
  text-align: center;
}

@media (min-width: vars.$tablet-width) {
  .stats {
    width: 83%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: -184px;
  }

  .stats__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 640px;
    padding-top: 30px;
    padding-bottom: 28px;

    // white decorative triangle
    &::before {
      position: absolute;
      top: 27px;
      left: -14px;

      content: '';

      border: 15px solid transparent;
      border-bottom-color: #fff;
      transform: rotate(45deg);
    }
  }

  .stats__slogan-and-legend-top {
    width: 50%;
  }

  .stats__slogan {
    padding: 0 41px;

    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;

    background-color: #fff;
  }

  // show legend on top
  .stats__legend--top {
    display: block;
    padding-top: 1px;
    padding-left: 40px;

    text-align: left;
  }

  .stats__text {
    width: 50%;
    padding: 5px 30px;
    padding-right: 70px;

    text-align: left;
  }

  .stats__table-body {
    display: flex;
    flex-wrap: wrap;
    min-width: 640px;
  }

  .stats__row {
    display: block;
    width: 50%;
  }

  .stats__value {
    display: block;
    width: auto;
    padding: 0;
    padding-top: 27px;
    padding-left: 35px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    min-width: 290px;
    padding-top: 9px;
    padding-bottom: 30px;
    padding-left: 35px;

    font-size: 20px;
    text-align: left;

    // "deleting" <br> tags in stats__field
    br {
      display: none;
    }
  }

  // hide legend on the bottom
  .stats__legend--bottom {
    display: none;
  }
}

@media (min-width: vars.$desktop-width) {
  .stats {
    display: flex;
    width: 960px;
    margin: 0 auto;
    margin-top: -160px;
  }

  .stats__header {
    display: block;
    min-width: 320px;
    padding-bottom: 23px;

    // white decorative triangle
    &::before {
      top: 21px;
    }
  }

  .stats__slogan-and-legend-top {
    position: relative;
  }

  .stats__slogan {
    width: 320px;
  }

  .stats__legend--top {
    position: absolute;
    bottom: -180px;
    width: 320px;
  }

  .stats__table {
    // to make the table grow if the height of the stats__header increase
    display: flex;
  }

  .stats__field {
    padding-top: 10px;
  }

  .stats__text {
    box-sizing: border-box;
    width: 320px;

    padding-top: 25px;
    padding-right: 70px;
    padding-bottom: 60px;
    padding-left: 43px;
    margin: 0;
  }
}
