.stats {
  width: 320px;
  margin: 0 auto;

  color: #000;
}

.stats__header {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 25px;

  text-align: center;

  background-color: #fff;
}

.stats__slogan {
  box-sizing: border-box;
  width: 100%;
  padding: 0 68px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.stats__intro {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0;

  font-size: 20px;
}

// table don't stretch to 100% of his parent by default, so we use width: 100%;
.stats__list {
  width: 100%;
  padding: 0;
  margin: 0;

  line-height: 18px;

  color: #f7f4f1;
  border-collapse: collapse;
}

.stats__row--color-1 {
  background-color: #404040;
}

.stats__row--color-2 {
  background-color: #4e4e4e;
}

.stats__row--color-3 {
  background-color: #353535;
}

.stats__row--color-4 {
  background-color: #404040;
}

.stats__value {
  width: 160px;
  padding: 21px 0;
  padding-left: 20px;

  font-size: 40px;
  font-weight: bold;
}

.stats__field {
  width: 120px;
  padding: 21px 0;
  padding-right: 20px;

  text-align: right;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 27px;
}

.stats__legend--top {
  padding: 0;
  margin: 0;

  color: #b2b2b2;
}

.stats__legend--bottom {
  padding-top: 19px;

  color: #666;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 640px;
    margin-top: -185px;
  }

  .stats__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;
  }

  .stats__list {
    width: 640px;
  }
}
