.user-list {
  @include reset-list;
}

// we made <a> fully fill our <li> to make the whole space ocupied by <li> clickable. Thats why the in nothing in this selector besides hover/focus/active (but they can be also applied to the user-list__login, result will be the same)
.user-list__item {
  &:hover,
  &:focus {
    cursor: pointer;
  }
  &:active {
    background-color: #523b2b;
    opacity: 0.3;
  }
}

.user-list__login {
  position: relative;

  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 48px;

  line-height: 24px;
  color: inherit;
}

// login icon
.user-list__login::after {
  position: absolute;
  top: 17px;
  left: 18px;

  width: 16px;
  height: 16px;

  content: '';

  background-image: url('/source/img/login.svg');
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 160px;
  }
}
