@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.user-list {
  @include mixins.reset-list;
}

// we made <a> fully fill our <li> to make the whole space ocupied by <li> clickable. Thats why the in nothing in this selector besides hover/focus/active (but they can be also applied to the user-list__login, result will be the same)
.user-list__item {
  &:hover,
  &:focus {
    cursor: pointer;
  }
  &:active {
    background-color: #523b2b;
    opacity: 0.3;
  }
}

.user-list__login {
  position: relative;
  display: block;
  width: 10px;
  min-height: 20px;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 48px;

  line-height: 24px;
  color: inherit;
}

.user-list__icon {
  position: absolute;
  top: 17px;
  left: 18px;

  width: 16px;
  height: 16px;

  content: '';
}

@media (min-width: vars.$tablet-width) {
  .user-list {
    display: flex;
    width: 88px;
  }

  .user-list__item {
    padding: 12px 0;

    // change SVG's color, here we use nesting to raise the specificity
    .user-list__icon-style {
      fill: #4d4d4d;
    }

    &:active {
      background-color: #000;
    }

    // change icon color when <li> is hovered/focused (user-list__icon-style directly controls SVG's style)
    &:hover .user-list__icon-style,
    &:focus .user-list__icon-style {
      fill: #726155;
    }
  }

  .user-list__icon {
    top: 15px;
    left: 8px;
  }

  .user-list__text {
    display: none;
  }
}

@media (min-width: vars.$desktop-width) {
  .user-list {
    width: 120px;
    padding-right: 0;
  }

  .user-list__item {
    &:hover,
    &:focus {
      color: #000;
      background-color: #fff;
    }
    &:active {
      color: #b2b2b2;
      opacity: 1;
    }

    // change icon color when <li> is hovered/focused (user-list__icon-style directly controls SVG's style)
    &:hover .user-list__icon-style,
    &:focus .user-list__icon-style {
      fill: #a8a8a8;
    }
    &:active .user-list__icon-style {
      fill: #e5e5e5;
    }
  }

  .user-list__login {
    width: 60px;

    padding-top: 12px;
  }

  .user-list__icon {
    top: 16px;
    left: 17px;
  }

  .user-list__text {
    display: block;
    padding-right: 20px;
    padding-left: 3px;

    font-weight: bold;
    text-transform: uppercase;
  }
}
